@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Reusable UI */
.input {
  @apply w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500 bg-white dark:bg-gray-800 dark:border-gray-700;
}

.btn {
  @apply w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition;
}